<div class="container" id="intro">
    <div class="section">
        <div class="row container">
            <div class="center-align">
                <h1>Welcome to extracted. </h1>
                <h5>
                    Find all the best local Seattle
                    and Portland coffee shops with the perfect crema, the flakiest pastries and all the vibes to become
                    your new favorite spot.
                    <br><b>Want to improve the ratings?</b> Login to
                    become part of our coffee enthusiast community.
                    <br><b>Know an awesome spot not on our list?</b> Submit a shop
                    in our form to help make our list even better.
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img class="background" src="/images/coffeebackground.jpg" />
    </div>
</div>

<div class="container">
    <div class="row center-align">

        <h1>Feature of the Month</h1>
        <h3>Cafe An'Clair</h3>
        <h5>South Lake Union, Seattle, WA</h5>
        <div class="valign-wrapper center-align" id="feature-section">
            <img src="/images/cafefeature.jpg" id="feature" class="materialboxed">
            <img src="/images/cafefeature3.jpg" id="feature" class="materialboxed">
            <img src="/images/cafefeature2.jpg" id="feature" class="materialboxed">
        </div>
        <h6>Located in the Amazon Apollo building in South Lake Union, Cafe An 'Clair is the perfect ambience for your
            midday lunch break or Sunday walk around town. Although well known for their patisserie, their freshly made
            specialty drinks and cultural variety will excite any beverage connoisseur. With a lovely outdoor seating
            area equipped with a waterfall feature, indulge yourself with a honey financier and a Spanish Latte while
            enjoying the view of the city. And peep their avocado propogation too while you're at it!</h6>
        <p>Been here before? Show some <a href="/review" class="text-red darken-4">love!</a></p>
    </div>
</div>

<div class="container">
    <div class="row center-align">
        <div class="col s12 m6">
            <h5>Featured Seasonal Drink Recipe</h5>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="seasonal-drink-img activator" src="/images/Cardamom-Latte-2.jpg">
                    <span class="card-title">Vanilla Cardamom Latte<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Vanilla Cardamom Latte<i
                            class="material-icons right">close</i></span>
                    <p>Warm up from the winter's chill and cozy up with the season's spices. This recipe is easy with
                        few ingredients, all you need is an instrument to make espresso with. (Instant espresso can work
                        fine, but we highly recommend an espresso machine or Moka pot)</p>
                    <h6>Ingredients</h6>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>2 Espresso Shots</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>1/2 Cup Milk of Choice (Whole, Oat or Almond is highly recommended)</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>2 tsp Vanilla Syrup</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>1/2 tsp Freshly Ground Cardamom</span>
                        </label>
                    </p>
                    <h6>Instructions</h6>
                    <p>1. Mix vanilla syrup and freshly ground cardamom in mug.</p>
                    <p>2. Prepare Espresso and quickly add on top of your spices (we want to protect that crema!). Gently stir. </p>
                    <p>3. While espresso is pouring, begin frothing your milk. Once it is of desired temperature and frothiness, slowly pour over espresso.</p>
                    <p>4. Top with more cardamom and enjoy!</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <h5>New to home brewing? Check out our <a href="#">Brewing Guides</a>!</h5>
        </div>
    </div>
</div>