<div class="container" id="intro">
    <div class="section">
        <div class="row container">
            <div class="center-align">
                <h1>Welcome to extracted. </h1>
                <h5>
                    Find all the best local Seattle
                    and Portland coffee shops with the perfect crema, the flakiest pastries and all the vibes to become
                    your new favorite spot.
                    <br><b>Want to improve the ratings?</b> Login to
                    become part of our coffee enthusiast community.
                    <br><b>Know an awesome spot not on our list?</b> Submit a shop
                    in our form to help make our list even better.
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img class="background" src="/images/coffeebackground.jpg" />
    </div>
</div>

<div class="container">
    <div class="row center-align">

        <h1>Feature of the Month</h1>
        <h3>Cafe An'Clair</h3>
    </div>
</div>