<div class="container" id="intro">
    <div class="section">
        <div class="row container">
            <div class="center-align">
                <h1>Welcome to extracted. </h1>
                <h5>
                    Find all the best local Seattle
                    and Portland coffee shops with the perfect crema, the flakiest pastries and all the vibes to become
                    your new favorite spot.
                    <br><b>Want to improve the ratings?</b> Login to
                    become part of our coffee enthusiast community.
                    <br><b>Know an awesome spot not on our list?</b> Submit a shop
                    in our form to help make our list even better.
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img class="background" src="/images/coffeebackground.jpg" />
    </div>
</div>

<div class="container">
    <div class="row center-align">

        <h1>Feature of the Month</h1>
        <h3>Cafe An'Clair</h3>
        <h5>South Lake Union, Seattle, WA</h5>
        <div class="valign-wrapper center-align" id="feature-section">
            <img src="/images/cafefeature.jpg" id="feature" class="materialboxed">
            <img src="/images/cafefeature3.jpg" id="feature" class="materialboxed">
            <img src="/images/cafefeature2.jpg" id="feature" class="materialboxed">
        </div>
        <h6>Located in the Amazon Apollo building in South Lake Union, Cafe An 'Clair is the perfect ambience for your midday lunch break or Sunday walk around town. Although well known for their patisserie, their freshly made specialty drinks and cultural variety will excite any beverage connoisseur. With a lovely outdoor seating area equipped with a waterfall feature, indulge yourself with a honey financier and a Spanish Latte while enjoying the view of the city. And peep their avocado propogation too while you're at it!</h6>
        <p>Been here before? Show some <a href="/review" class="text-red darken-4">love!</a></p>
    </div>
</div>

<div class="container">
    <div class="row center-align">
        <div class="col s6">
            <h5>Featured Drink Recipe</h5>
            <h4>Coquito</h4>
            <p>An essential addition to a Puerto Rican Christmas, Coquito literally translates to "little coconut".</p>
        </div>
        <div class="col s6">
            <h5>New to home brewing? Check out our <a href="#">Brewing Guides</a>!</h5>
        </div>
    </div>
</div>