<h1 class="center-align">All The Best...</h1>

<div class="container">
  <div class="row center-align">
    {{#each allShops }}
    <div class="col s12 m6">
      <div class="card large z-depth-2" id="shop-cards">
        <div class="card-image">
          <img src={{shopPhoto}}>
          <span class="card-title">{{shopName}}</span>
        </div>
        <div class="card-content">
          <p>{{shopLocation}}</p>
          {{!-- <p>Rating:</p> --}}
          <p>{{description}}</p>
        </div>
        <div class="card-action">
          <a href="/review">Add A Review</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<hr>

<div class="container">
  <div class="row center-align">
    <div class="col-sm">
      <h4>Know of a good spot?</h4>
      <h5>Fill in the form below to submit your favorite coffee shop or cafe you believe deserves to be on the list.
      </h5>
      <form class="col s12">
        <div class="row center-align">
          <div class="input-field col s12">
            <input id="newShopName" type="text">
            <label for="first_name">Restaurant Name</label>
          </div>
          <div class="input-field col s6">
            <input id="newShopNeighborhood" type="text">
            <label for="first_name">Neighborhood</label>
          </div>
          <div class="input-field col s6">
            <select id="newShopCity">
              <option value="" disabled selected>Location</option>
              <option value="1">Seattle</option>
              <option value="2">Washington</option>
              <option value="2">Other (include in description)</option>
            </select>
            <label>City</label>
          </div>
          <h6>Amenities and More</h6>
          <form action="#">
            <div class="row">
              <div class="col s6">

                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Free Wi-Fi</span>
                  </label>
                </p>

                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Parking</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Outdoor Seating</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Indoor dining (Covid-Safe)</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>LGBTQ+ Friendly</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>BIPOC Owned</span>
                  </label>
              </div>

              <div class="col s6">
                <label>
                  <input type="checkbox" />
                  <span>Pastry Offerings</span>
                </label>

                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Meal Offerings</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Vegan and GF Options</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Serves Alcohol</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Good for Breakfast/Brunch</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Good Vibes and Ambiance</span>
                  </label>
              </div>
            </div>
          </form>
          <h6>Tell us why you love it</h6>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="newShopDescription" class="materialize-textarea"></textarea>
                  <label for="newShopDescription">Show your love here...</label>
                </div>
              </div>
            </form>
            <button class="btn waves-effect waves-light" id="submitNewShop" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>