<h1 class="center-align">All The Best...</h1>

<div class="container">
  <div class="row center-align">
    {{#each allShops }}
    <div class="col s12 m6">
      <div class="card large z-depth-2" id="shop-cards">
        <div class="card-image">
          <img src={{shopPhoto}}>
          <span class="card-title">{{shopName}}</span>
        </div>
        <div class="card-content">
          <p>{{shopLocation}}</p>
          <p>Rating:</p>
          <p>{{description}}</p>
        </div>
        <div class="card-action">
          <a href="#">Add A Review</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
