@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Lora', serif;
    background-color: white;
}

main {
    flex: 1 0 auto;
    background-color: white;
}